<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="email_order_set_template_vars_before">
        <observer name="rameera_email_order_formatted_date" instance="Rameera\Email\Observer\OrderFormattedDate"/>
    </event>
    <event name="email_shipment_set_template_vars_before">
        <observer name="rameera_email_order_formatted_date" instance="Rameera\Email\Observer\OrderFormattedDate"/>
    </event>
</config>
